Repository not-three/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, components, server, pages, public, lib, docker, package

.github/labeler.yml:

ci: .github/workflows/*
components: components/**
server: server/**
pages: pages/**
public: public/**
lib: lib/**
docker: Dockerfile
package:
  - package.json
  - pnpm-lock.yaml

ci: renamed package main -> ui
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
Labels: ci

ci: removed github folder from ignore list
  .github/workflows/nightly.yml
Labels: ci

chore: update vscode settings
  .vscode/settings.json
Labels: none

feat: added curl to docker image
  Dockerfile
Labels: docker

chore: updated license nposl -> agpl
  LICENSE
  package.json
Labels: package

fix: added missing exit hooks
  entrypoint.mjs
Labels: none
