Repository not-three/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, components, server, pages, public, lib, docker, package

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file: [.github/workflows/*]
components:
- changed-files:
  - any-glob-to-any-file: [components/**]
server:
- changed-files:
  - any-glob-to-any-file: [server/**]
pages:
- changed-files:
  - any-glob-to-any-file: [pages/**]
public:
- changed-files:
  - any-glob-to-any-file: [public/**]
lib:
- changed-files:
  - any-glob-to-any-file: [lib/**]
docker:
- changed-files:
  - any-glob-to-any-file: [Dockerfile]
package:
- changed-files:
  - any-glob-to-any-file: [package.json, pnpm-lock.yaml]

chore: linting
  .github/workflows/publish.yml
  error.vue
  lib/monaco/languages/toml.ts
  lib/monaco/languages/xml.ts
  lib/monaco/languages/yaml.ts
  lib/monaco/setup.ts
  lib/monaco/types.ts
  lib/monaco/utils.ts
Labels: ci, lib

ci: updated paths and termsURL
  .github/workflows/nightly.yml
  .github/workflows/preview.yml
  .github/workflows/publish.yml
Labels: ci

ci: fix mising permission
  .github/workflows/preview.yml
Labels: ci

Create 404.html
  404.html
Labels: none

Create index.html
  index.html
Labels: none

Create .nojekyll
  .nojekyll
Labels: none

Create CNAME
  CNAME
Labels: none

fix: added missing runtime config
  nuxt.config.ts
Labels: none

Deploy preview for PR 9 🛫
  pr-preview/pr-9/200.html
  pr-preview/pr-9/404.html
  pr-preview/pr-9/_nuxt/builds/latest.json
  pr-preview/pr-9/_nuxt/builds/meta/be8a7101-2655-40b9-831c-aee97d4a5eae.json
  pr-preview/pr-9/_nuxt/builds/meta/fc0cae58-f489-4c44-98ee-529fd484133a.json
  pr-preview/pr-9/index.html
  pr-preview/pr-9/settings/index.html
Labels: none

fix: wrong access to runtime config uiBaseURL
  components/aaa-base-page.vue
  nuxt.config.ts
Labels: components

Deploy preview for PR 9 🛫
  pr-preview/pr-9/200.html
  pr-preview/pr-9/404.html
  pr-preview/pr-9/_nuxt/9yC-rrRK.js
  pr-preview/pr-9/_nuxt/ANNp-V7s.js
  pr-preview/pr-9/_nuxt/B45qUiXu.js
  pr-preview/pr-9/_nuxt/BHV3_Tx7.js
  pr-preview/pr-9/_nuxt/BIA3JIYb.js
  pr-preview/pr-9/_nuxt/BUN8GgnL.js
  pr-preview/pr-9/_nuxt/BY00O6qf.js
  pr-preview/pr-9/_nuxt/BhoinAYf.js
  pr-preview/pr-9/_nuxt/BmWXuyZq.js
  pr-preview/pr-9/_nuxt/Bv93by0L.js
  pr-preview/pr-9/_nuxt/Bvj0IQpZ.js
  pr-preview/pr-9/_nuxt/CDXSFpzI.js
  pr-preview/pr-9/_nuxt/CUDrPq1d.js
  pr-preview/pr-9/_nuxt/CXZoJowy.js
  pr-preview/pr-9/_nuxt/Cannm6tO.js
  pr-preview/pr-9/_nuxt/CbH2cqb0.js
  pr-preview/pr-9/_nuxt/ClQI3-9P.js
  pr-preview/pr-9/_nuxt/D01tECoI.js
  pr-preview/pr-9/_nuxt/DQ9T0cbp.js
  pr-preview/pr-9/_nuxt/DUE2ssgV.js
  pr-preview/pr-9/_nuxt/DpmNnSar.js
  pr-preview/pr-9/_nuxt/DtJ9Iral.js
  pr-preview/pr-9/_nuxt/DzsuHEX1.js
  pr-preview/pr-9/_nuxt/Nx734VEj.js
  pr-preview/pr-9/_nuxt/UxaCqHXb.js
  pr-preview/pr-9/_nuxt/YwfxQJs8.js
  pr-preview/pr-9/_nuxt/builds/latest.json
  pr-preview/pr-9/_nuxt/builds/meta/2c69f3ca-c198-41e4-ab72-8f476082c915.json
  pr-preview/pr-9/_nuxt/builds/meta/be8a7101-2655-40b9-831c-aee97d4a5eae.json
  pr-preview/pr-9/_nuxt/ewD7fg2U.js
  pr-preview/pr-9/_nuxt/j_CwiQUo.js
  pr-preview/pr-9/_nuxt/kKu2ZG5z.js
  pr-preview/pr-9/_nuxt/neixXDkO.js
  pr-preview/pr-9/_nuxt/oWKvlmfb.js
  pr-preview/pr-9/index.html
  pr-preview/pr-9/settings/index.html
Labels: none
